.emoticono{
    background-color: rgb(92, 252, 0);
    width: 17%;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    transition: 0.7s;
    }
    
    .emoticono:hover{
        background-color: rgb(255, 94, 0);
    }
    
    nav{
        text-align: center;
        position: fixed;
    top: 0;
    width: 99%;
    background-color: rgb(99, 187, 41);
    z-index: 99;
    }
    
    section{
        text-align: center;
        margin: 0 auto;
        background-color: rgb(238, 91, 5);
        margin: 80px 12% 0px 12%;
    }
    
    #linea{
        height: 3px;
        background-color: rgb(230, 20, 195);
        margin: 0 auto;
        width: 30%;
    }
    
    img{
        width: 25%;
        margin: 20px;
        border: rgb(126, 66, 10) 5px solid;
        box-shadow: 3px 3px 5px 4px rgb(0, 0, 0);
        border-radius: 15px;
        transition: 0.5s;
    }
    
    img:hover{
        opacity: 20%;
    }
    
    #nombre{
        padding-left:79%;
    }
    
    html{
        background-color: rgb(99, 187, 41);
    }
    
    h4{
        color: yellow;
        font-family: 'Nunito', sans-serif;
    }
   
    body{
        background-image: url(../img/primebuba.webp);
        background-repeat: no-repeat;
        background-position: center;
       background-size: cover;
    }
    img{
        margin: 1%;
        width: 25%;
        padding: 0.5%;
        border: (252, 247, 0) 5px solid;
        box-shadow: 3px 3px 5px 4px rgb(0,0,0);
        border-radius: 15px;
        transition: filter 0.5s;
        05
    }

    
    