@import url(https://fonts.google.com/share?selection.family=Mulish:wght@300);

body {
  padding-left: 5%;
  padding-right: 5%;
  font-family:'Mulish', sans-serif;
 
}
nav{
  background-color: thistle;
  display: flex;
   justify-content: space-between;
   top: 0;
   width: 89%;
   position: fixed;
  }



main{ 
  background: linear-gradient(135deg, aquamarine, darkcyan);
  padding-left: 2%;
 width: 96%;
  display: flex;
 flex-direction: column;
 justify-content: center;
 padding-bottom: 2%;
 padding-right: 2%;
}
a{
padding-left: 5%; 
}

#jedi{
       color: rgb(26, 126, 116);
       padding-top: 1%;
       padding-bottom: 10px;
       width: 10%;
       font-size: 200%;
       text-shadow: 1px 1px 1px 1px black;
       font-size: 60px;
       padding-left: 2%;

       }
.fa-solid:hover{
    color: aquamarine;
   display: flex;
   
}
footer{
  text-align: center;
}
.fecha{
  color: #3498db;
  font-size: x-large;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 200%;
  text-shadow: 1px 1px 1px 1px, black;
  padding-top: 15vh;
  
}

.primerarticle{
  font-size: 200%;
  padding-bottom: 3vh;
 
}
.wrapper {
  padding-bottom: 30px;
}

.divider {
  position: relative;
  margin-top: 40px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}
.fecha2{
  color: #3498db;
  font-size: x-large;
  padding-top: 5vh;
  padding-bottom: 3vh;
  font-size: 200%;
}
.segonarticle{
  font-size: 200%;
  padding-bottom: 3vh;
}

.flex-container {
  display: flex;
}
.interaccion{
   flex-flow: column;
   padding-top: 2%;
  
   
}
aside{
  width: 100%;
  background-image: url(./img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loremgris{
    border-left: 3px solid #bdc3c7;
    padding-left: 10px;
}
#desapareix{
  display: none;
}
@media (max-width : 768px){
  main{
    width: 100%;
  }
  input{
    display: none;
  }

  #desapareix{
    display: flex;
    justify-content: space-between;
    width: 16%;
  }
  aside{
    display: non;
  }
 
}
