section{
    color: chartreuse;
    background-color: blanchedalmond;
    width: 75%;
}

span{
    color: rgb(255, 0, 0);
}
#pWeb{
    color: blue;
}
.vermell{
    color: red;
}
.subrajat{
    text-decoration: underline;

}
h2,h3{
    background-color: aquamarine;
}
h3{
    width: 25%;
}
section p{
    text-decoration: underline;
}
h2+h3{
    border: 2px solid black;
}
.sexe label. :nth-last-of-type(3){
    color: blue;
}
#niggadog{
 border: 3px solid black;
 padding:  30px ;
 margin: 0 auto;
 width: 90%;
}
#pare, #fill1, #fill2{
 border-style: solid;
 width: 2px;
}
#pare{
    border-color: red;
    border-width: 50%;
}
#fill1{
    border-color: blue;
    width: 50%;
    float: left;
}
#fill2{
    border-color: green;
    width: 50%;
    float: right;
}
h1{
    font-size: 25px;
}
span.separat{
    padding-top: 60;
}
h6{
    margin: 0 auto;
    width: 60%;
    color: red;
    text-align: center;
}
.banner{
    background-image: url(../img/primebuba.webp);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    background-position: center;
    height: 120px;
}
<header><img src="./img/primebuba.webp" alt=""></header>