body{
    background-image: url(/img/fondocolores.gif);
    background-size: cover;
}
div{
    color: white;
    padding-left: 20%;
    padding-top: 3%;
}
#btnCarrega{
    background-color: rgb(red, green, blue);
    border: rgb(red, green, blue);
}
