body {
    background-image: url(/img/fondocolores.gif);
    background-size: cover;
}

div {
    color: white;
    padding-left: 25%;
    padding-top: 3%;
}

.centrado {
    text-align: left;
    font-size: 12px;
    line-height: 1.2;
    margin-right: 100px;
}

.buttonCarrega {
    background-color: #4CAF50;
    border: black;
    color: white;
    padding: 12px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
button:hover{
    cursor: pointer;
}
input:hover{
    cursor: pointer;
}
.buttonReset{
    background-color: #FF0000;
    border: black;
    color: rgb(255, 255, 255);
    padding: 12px 25px;
    font-size: 16px;
   
}

p {
    font-family: 'Konkhmer Sleokchher', cursivr;
    font-size: 13px;
}