canvas {
    border: 2px solid black;
}

h1 {
    padding-left: 37%;
    color: rgb(243, 9, 9);
    font-size: 50px;
    font-style: italic;

}

body {
    background-image: url(/img/shutterstock_200624198.jpg);
    background-size: cover;
}

textarea {
    background-image: url(/img/mapa.jpg);
    background-position: center;
}